{{ define "about" }}
<!-- Start of about section -->
<div class="tile is-parent">
    <div class="tile is-child card ">
        <div class="card-content">
            <div class="media-content">
                <!-- Title -->
                <p class="title is-4">About Us</p>
            </div>
            <div class="content">
                <!-- Description -->
                <p>Welcome to the Dungeons and Dragons Monster Generator website! We are a team of enthusiasts...</p>
            </div>
        </div>
    </div>
</div>
<!-- End of about section -->
</div>
{{ end }}
