{{ define "main" }}
<div class="tile is-parent">
  <div class="tile is-child card ">
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">Monster Form</p>
      </div>
      <div class="content">
        <form hx-boost="true" action="/submit" method="post" class="">
          <div class="field">
            <td><label for="filename">Filename:</label></td>
            <div class="control"><input type="text" name="filename" required placeholder="Dateiname"
                class="input input-bordered w-full max-w-xs">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="button" hx-post="/addMonster" hx-trigger="click" hx-target="#monster-table"
                hx-swap="outerHTML" class="button is-info" hx-boost="true">Add
                Monster</button>
            </div>
          </div>
          {{ template "monsterform" . }}
          <input type="hidden" name="filename" value="{{.Filename}}">
          <input type="submit" value="Submit" class="button is-primary">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tile is-parent">
  <div class="tile is-child card">
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4 is-centered">Existing Monsters</p>
      </div>
      <div class="table-container">
        <table class="table">
          <colgroup>
            <col style="width: 100px;">
            <col style="width: 100px;">
          </colgroup>
          <thead>
            <tr>
              <th>Name</th>
              <th>Source</th>
              <th>Size</th>
              <th>Type</th>
              <th>Alignment</th>
              <th>AC</th>
              <th>AC Form</th>
              <th>HP Average</th>
              <th>HP Formula</th>
              <th>Speed</th>
              <th>Str</th>
              <th>Dex</th>
              <th>Con</th>
              <th>Int</th>
              <th>Wis</th>
              <th>Cha</th>
              <th>Save Dex</th>
              <th>Save Con</th>
              <th>Savve Wis</th>
              <th>Perception</th>
              <th>Stealth</th>
              <th>Damage Resistance</th>
              <th>Senses</th>
              <th>Languages</th>
              <th>CR</th>
              <th>Trait Name</th>
              <th>Trait Entry</th>
              <th>Action Name</th>
              <th>Action Entry</th>
            </tr>
          </thead>
          {{ template "monsterTable" }}
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
