{{ define "main" }}
<div class="card-body form-box w-4/5 h-full">
  <h2 class="card-title">Monster Form</h2>
  <form action="/submit" method="post" class="grid grid-columns-5 space-y-4 grid place-items-center">
    <table>
      <tr>
        <td><label for="filename">Filename:</label></td>
        <td><input type="text" name="filename" required placeholder="Dateiname"
            class="input input-bordered w-full max-w-xs"><br></td>
      </tr>
    </table>
    <div class="grid grid-cols-1">
      <button type="button" hx-post="/addMonster" class="btn">Add Monster</button>
    </div>
    {{ template "monsterform" . }}
    <input type="hidden" name="filename" value="{{.Filename}}">
    <div class="card-actions justify-end">
      <input type="submit" value="Submit" class="btn">
    </div>
  </form>
</div>
{{ end }}
