{{ define "skills" }}
<header class="card-header">
  <p class="card-header-title">
    Skill
  </p>
</header>
<div class="card-content">
  <div class="content">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="acrobatics">Acrobatics:</label>
          <div class="control">
            <input type="text" name="acrobatics" required class="input input-bordered w-full max-w-xs" value="{{
              .acrobatics }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="animalHandling">Animal Handling:</label>
          <div class="control">
            <input type="text" name="animalHandling" required class="input input-bordered w-full max-w-xs"
              value="{{ .animalHandling }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="arcana">Arcana:</label>
          <div class="control">
            <input type="text" name="arcana" required class="input input-bordered w-full max-w-xs" value="{{ .arcana }}"
              readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="athletics">Athletics:</label>
          <div class="control">
            <input type="text" name="athletics" required class="input input-bordered w-full max-w-xs"
              value="{{ .athletics }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="deception">Deception:</label>
          <div class="control">
            <input type="text" name="deception" required class="input input-bordered w-full max-w-xs"
              value="{{ .deception }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="history">History:</label>
          <div class="control">
            <input type="text" name="history" required class="input input-bordered w-full max-w-xs"
              value="{{ .history }}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="insight">Insight:</label>
          <div class="control">
            <input type="text" name="insight" required class="input input-bordered w-full max-w-xs"
              value="{{ .insight }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="intimidation">Intimidation:</label>
          <div class="control">
            <input type="text" name="intimidation" required class="input input-bordered w-full max-w-xs"
              value="{{ .intimidation }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="investigation">Investigation:</label>
          <div class="control">
            <input type="text" name="investigation" required class="input input-bordered w-full max-w-xs"
              value="{{ .investigation }}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="medicine">Medicine:</label>
          <div class="control">
            <input type="text" name="medicine" required class="input input-bordered w-full max-w-xs"
              value="{{ .medicine }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="nature">Nature:</label>
          <div class="control">
            <input type="text" name="nature" required class="input input-bordered w-full max-w-xs" value="{{ .nature }}"
              readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="performance">Performance:</label>
          <div class="control">
            <input type="text" name="performance" required class="input input-bordered w-full max-w-xs"
              value="{{ .performance }}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="perception">Perception:</label>
          <div class="control">
            <input type="text" name="perception" required class="input input-bordered w-full max-w-xs"
              value="{{ .perception }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="stealth">Stealth:</label>
          <div class="control">
            <input type="text" name="stealth" required class="input input-bordered w-full max-w-xs"
              value="{{ .stealth }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="persuasion">Persuasion:</label>
          <div class="control">
            <input type="text" name="persuasion" required class="input input-bordered w-full max-w-xs"
              value="{{ .persuasion }}" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="sleightOfHand">Sleight of Hand:</label>
          <div class="control">
            <input type="text" name="sleightOfHand" required class="input input-bordered w-full max-w-xs"
              value="{{.sleightOfHand }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="religion">Religion:</label>
          <div class="control">
            <input type="text" name="religion" required class="input input-bordered w-full max-w-xs"
              value="{{ .religion }}" readonly>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child field">
          <label for="survival">Survival:</label>
          <div class="control">
            <input type="text" name="survival" required class="input input-bordered w-full max-w-xs"
              value="{{ .survival }}" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
